{% extends "_base.html" %}
{% block content %}
<h1>Create Event</h1>
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.title.label() }}
  {{ form.title() }}
  {{ form.subtitle.label() }}
  {{ form.subtitle() }}
  {{ form.description.label() }}
  {{ form.description() }}
  {{ form.item_description.label() }}
  {{ form.item_description() }}
  {{ form.event_status.label() }}
  {{ form.event_status() }}
  {{ form.start_date.label() }}
  {{ form.start_date() }}
  {{ form.start_time.label() }}
  {{ form.start_time() }}
  {{ form.start_timezone.label() }}
  {{ form.start_timezone() }}
  {{ form.address1.label() }}
  {{ form.address1() }}
  {{ form.address2.label() }}
  {{ form.address2() }}
  {{ form.city.label() }}
  {{ form.city() }}
  {{ form.state.label() }}
  {{ form.state() }}
  {{ form.zipcode.label() }}
  {{ form.zipcode() }}
  {{ form.submit() }}
</form>
{% endblock content %}
