<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1", name="viewport" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='normalize/css/normalize-8-0-1.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='zestyux/css/zesty.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='zestyux/css/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}" />
    </script>
  </body>
</html>
